.item {
  /* max-width: 15rem; */
  border-radius: 1rem;
}

.item img {
  padding: 1rem;
  width: 100%;
  height: 25vh;
  object-fit: contain;
}

.item h5 {
  color: black;

}

.item p {
  color: #dd5100;
  font-weight: bold;
}

.item a {  
  text-decoration: none;
}


